{% block body %}

{#
   _   _   _   _   _   _   _
  / \ / \ / \ / \ / \ / \ / \
 ( C ) o ) m ) m ) o ) n ) s )
  \_/ \_/ \_/ \_/ \_/ \_/ \_/

#}

<div class="widget widget-redactor" id="widget-{{widget.id}}">
{% block actions %}{{cms_widget_actions(widget)}}{% endblock actions %}

{% block content %}
{% include "VictoireRedactorBundle:Commons:Widget/redactor/theme/"~theme|default('default')~".html.twig" %}
{% endblock content %}
</div>

{% endblock body %}
