.icon.icon-redactor {
    background-image: url('/bundles/victoireredactor/images/icon-redactor-alt.png');
    background-position: 0 0;
}

.dropdown-menu > li > a:hover > .icon.icon-redactor {
    background-image: url('/bundles/victoireredactor/images/icon-redactor-white.png');
    background-position: 0 0;
}

